
h1 {
    /*color: #8C2332; Chico color */    
    color: #043927;
}

h2 {
    color: #043927;
}

h3 {
    color: #c4b581;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

#csuc {
  color: #75787B;
  background-color: #9D2235;
}

#csus {
  color: #043927;
  background-color: #c4b581;
  
}

.bordered {
    border-bottom: 1px solid #000;
}