/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

h1 {
    color: #8C2332;
}

h2 {
    color: #8C2332;
}

h3 {
    color: #8C2332;
}
